In [1]:
import pandas as pd
import plotly.graph_objects as go
import folium

In [2]:
df = pd.read_csv('MUESTRA_CENSO_PROV_BCN_20230215.csv', sep = '|', on_bad_lines='skip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504986 entries, 0 to 504985
Columns: 131 entries, ADN_OID_CENTRO to FACTU_EST
dtypes: float64(56), int64(32), object(43)
memory usage: 504.7+ MB

In [7]:
df2 = pd.read_csv('censo_bcn_Excel_empresas_20210111.csv')
df2.info()

C:\Users\rubyc\AppData\Local\Temp\ipykernel_44416\2550974486.py:1: DtypeWarning: Columns (3,4,6,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('censo_bcn_Excel_empresas_20210111.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728959 entries, 0 to 728958
Data columns (total 54 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   PERIODO                         728959 non-null  int64
 1   OID_EMPRESA                     728959 non-null  int64
 2   OID_CENTRO                      728959 non-null  int64
 3   SSCC                            728959 non-null  object
 4   DIST_COD                        728959 non-null  object
 5   DISTRITO                        728959 non-null  object
 6   MUNICIPIO_COD                   728959 non-null  object
 7   MUNICIPIO                       728959 non-null  object
 8   PROVINCIA_COD                   728959 non-null  int64
 9   PROVINCIA                       728959 non-null  object
 10  CCAA_COD                        728959 non-null  int64
 11  CCAA                            728959 non-null  object
 12  TIPO_VIA                        728959 non-null  object
 13  NOMBRE_VIA                      728959 non-null  object
 14  RESTO_VIA                       728959 non-null  object
 15  NUM_VIA                         728959 non-null  object
 16  RESTO_NUMERO                    728955 non-null  object
 17  CODIGO_POSTAL                   728940 non-null  float64
 18  COORD_X                         728940 non-null  object
 19  COORD_Y                         728940 non-null  object
 20  FORMA_JURIDICA_COD              728940 non-null  object
 21  FORMA_JURIDICA                  728940 non-null  object
 22  TIPO_EMPRESA                    728940 non-null  object
 23  TIPO_OFICINA                    728940 non-null  object
 24  TOTAL_CENTROS                   728940 non-null  object
 25  TOTAL_EMPLEADOS                 728940 non-null  object
 26  FLAG_ESTIMACION_1               728940 non-null  object
 27  RANGO_EMPLEADOS                 728940 non-null  object
 28  TOTAL_FACTURACION               728940 non-null  object
 29  FLAG_ESTIMACION_2               728940 non-null  object
 30  RANGO_FACTURACION               728940 non-null  object
 31  EVOLUCION_VENTAS                728940 non-null  object
 32  FECHA_CONSTITUCION              728940 non-null  object
 33  GCNAE_COD                       728940 non-null  object
 34  GCNAE                           728940 non-null  object
 35  CCNAE_COD                       728940 non-null  object
 36  CCNAE                           728940 non-null  object
 37  SCNAE_COD                       700997 non-null  object
 38  SCNAE                           700997 non-null  object
 39  CONTACTABLE_MAILING             700997 non-null  object
 40  CONTACTABLE_TELEMARKETING       700997 non-null  object
 41  INDICADOR_RIESGO_ELEVADO        700997 non-null  object
 42  COD_IMPOREXPORT                 700997 non-null  object
 43  IMPOREXPORT                     700997 non-null  object
 44  FECHA_CIERRE                    700997 non-null  object
 45  IMPORTE_NETO_CIFRA_NEGOCIOS     700997 non-null  object
 46  RESULTADO_NETO_EJERCICIO        700997 non-null  object
 47  FONDO_MANIOBRA                  700997 non-null  object
 48  RATIO_LIQUIDEZ                  700997 non-null  object
 49  RATIO_PORCENTAJE_ENDEUDAMIENTO  700997 non-null  object
 50  RATIO_VALOR_ANADIDO             700997 non-null  object
 51  ROA                             700997 non-null  object
 52  EBIDTA                          700997 non-null  object
 53  IND_PERSONA_CONTACTO            700997 non-null  object
dtypes: float64(1), int64(5), object(48)
memory usage: 300.3+ MB

In [19]:
df_code = df2[['GCNAE_COD','GCNAE','CCNAE_COD','CCNAE','SCNAE_COD','SCNAE']]

In [14]:
df_code = df_code.groupby(['GCNAE_COD','GCNAE','CCNAE_COD','CCNAE','SCNAE_COD','SCNAE'])[['GCNAE_COD','GCNAE','CCNAE_COD','CCNAE','SCNAE_COD','SCNAE']]

In [20]:
df_code.head()

,GCNAE_COD,GCNAE,CCNAE_COD,CCNAE,SCNAE_COD,SCNAE
0,I,I - Hosteleria,56,56 - Servicios de comidas y bebidas,5610,5610 - Restaurantes y puestos de comidas
1,M,"M - Actividades profesionales, científicas y t...",71,71 - Servicios técnicos de arquitectura e inge...,NaN,NaN
2,M,"M - Actividades profesionales, científicas y t...",74,"74 - Otras actividades profesionales, científi...",7490,"7490 - Otras actividades profesionales, cientí..."
3,M,"M - Actividades profesionales, científicas y t...",71,71 - Servicios técnicos de arquitectura e inge...,NaN,NaN
4,I,I - Hosteleria,56,56 - Servicios de comidas y bebidas,5629,5629 - Otros servicios de comidas

In [22]:
df_code = df_code.dropna(subset = 'SCNAE_COD')
df_code.info()
# df.dropna(subset = ['column1_name', 'column2_name', 'column3_name'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700997 entries, 0 to 728958
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   GCNAE_COD  700997 non-null  object
 1   GCNAE      700997 non-null  object
 2   CCNAE_COD  700997 non-null  object
 3   CCNAE      700997 non-null  object
 4   SCNAE_COD  700997 non-null  object
 5   SCNAE      700997 non-null  object
dtypes: object(6)
memory usage: 37.4+ MB

In [24]:
df_code = df_code.drop_duplicates(subset = ['GCNAE_COD', 'CCNAE_COD', 'SCNAE_COD'])
df_code.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 696497
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GCNAE_COD  561 non-null    object
 1   GCNAE      561 non-null    object
 2   CCNAE_COD  561 non-null    object
 3   CCNAE      561 non-null    object
 4   SCNAE_COD  561 non-null    object
 5   SCNAE      561 non-null    object
dtypes: object(6)
memory usage: 30.7+ KB

In [25]:
df_code

,GCNAE_COD,GCNAE,CCNAE_COD,CCNAE,SCNAE_COD,SCNAE
0,I,I - Hosteleria,56,56 - Servicios de comidas y bebidas,5610,5610 - Restaurantes y puestos de comidas
2,M,"M - Actividades profesionales, científicas y t...",74,"74 - Otras actividades profesionales, científi...",7490,"7490 - Otras actividades profesionales, cientí..."
4,I,I - Hosteleria,56,56 - Servicios de comidas y bebidas,5629,5629 - Otros servicios de comidas
5,I,I - Hosteleria,56,56 - Servicios de comidas y bebidas,5630,5630 - Establecimientos de bebidas
7,P,P - Educación,85,85 - Educación,8559,8559 - Otra educación n.c.o.p.
...,...,...,...,...,...,...
475573,C,C - Industria manufacturera,23,23 - Fabricación de otros productos minerales ...,2352,2352 - Fabr. de cal y yeso
525791,B,B - Industrias extractivas,5,"05 - Extracción de antracita, hulla y lignito",520,0520 - Extracción de lignito
535839,B,B - Industrias extractivas,8,08 - Otras industrias extractivas,899,0899 - Otras industrias extractivas n.c.o.p.
612899,R,"R - Actividades artísticas, recreativas y de e...",91,"91 - Actividades de bibliotecas, archivos, mus...",9106,9106 - Actividades de archivos
696497,F,F - Construcción,42,42 - Ingeniería civil,4213,4213 - Construcción de puentes y túneles

In [27]:
df_code[df_code['GCNAE_COD'] == 'C']

,GCNAE_COD,GCNAE,CCNAE_COD,CCNAE,SCNAE_COD,SCNAE
8,C,C - Industria manufacturera,18,18 - Artes gráficas y reproducción de soportes...,1812,1812 - Otras actividades de impresión y artes ...
25,C,C - Industria manufacturera,32,32 - Otras industrias manufactureras,3299,3299 - Otras industrias manufactureras n.c.o.p.
35,C,C - Industria manufacturera,32,32 - Otras industrias manufactureras,3212,3212 - Fabr. de artículos de joyería y artícul...
58,C,C - Industria manufacturera,14,14 - Confección de prendas de vestir,1419,1419 - Confección de otras prendas de vestir y...
163,C,C - Industria manufacturera,10,10 - Industria de la alimentación,1089,1089 - Elaboración de otros productos alimenti...
...,...,...,...,...,...,...
323627,C,C - Industria manufacturera,19,19 - Coquerías y refino de petróleo,1910,1910 - Coquerías
330290,C,C - Industria manufacturera,20,20 - Industria química,2060,2060 - Fabr. de fibras artificiales y sintéticas
343342,C,C - Industria manufacturera,10,10 - Industria de la alimentación,1031,1031 - Procesado y conservación de patatas
393933,C,C - Industria manufacturera,32,32 - Otras industrias manufactureras,3211,3211 - Fabr. de monedas
475573,C,C - Industria manufacturera,23,23 - Fabricación de otros productos minerales ...,2352,2352 - Fabr. de cal y yeso

In [26]:
#df_code.to_csv('CNAE_CODE.CSV')