In [1]:
import pandas as pd
import geocoder

In [2]:
#read scraped file
df = pd.read_csv(r'C:\WORK_IAAC\submissions\Internet of People\IoP_WIP\QGIS_data\for_clusteranalysis\Investigadors_es_de_Catalunya.csv')
df.head()

,_id,name,orcid,ruct,signatureName,sourceid,timestamp
0,062-23870381412,"Navarro Martinez, Lourdes",0000-0001-7314-8805,Universitat Internacional de Catalunya,"Navarro, L.",062-23870381412,16/02/2023
1,08070672-PERSIMIM43065,"Centeno Ortiz, Emilio",0000-0003-2798-978X,Institut Hospital del Mar d'Investigacions Mèd...,"Centeno, E",08070672-PERSIMIM43065,16/02/2023
2,043-UDG-05000144,"Cañabate Ortiz, Maria Dolores",0000-0003-2526-9818,Universitat de Girona,NaN,043-UDG-05000144,16/02/2023
3,044-UDL-07005809,"Centelles Soler, Xavier",0000-0003-4173-4556,"Universitat de Lleida,Universitat Politècnica ...",NaN,"044-UDL-07005809,024-58654374912",16/02/2023
4,024-27402070940,"Garcia Garcia, Jose Eduardo",0000-0002-1232-1739,Universitat Politècnica de Catalunya,"Garcia, J. E.",024-27402070940,16/02/2023

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204231 entries, 0 to 204230
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _id            204231 non-null  object
 1   name           204231 non-null  object
 2   orcid          204231 non-null  object
 3   ruct           204231 non-null  object
 4   signatureName  91577 non-null   object
 5   sourceid       204231 non-null  object
 6   timestamp      204231 non-null  object
dtypes: object(7)
memory usage: 10.9+ MB

In [7]:
df['ruct'].unique()

array(['Universitat Internacional de Catalunya',
       "Institut Hospital del Mar d'Investigacions Mèdiques",
       'Universitat de Girona', ...,
       "Valle de Hebrón Instituto de Investigación (VHIR),Institut d'Investigació en Ciències de la Salut Germans Trias i Pujol,Universidad Pompeu Fabra",
       'Instituto de Investigación y Tecnología Agroalimentaria (IRTA),Centre de Ciència i Tecnologia Forestal de Catalunya,Instituto de Investigación del Hospital de la Santa Creu i Sant Pau',
       'Universidad de Barcelona,Instituto de Investigación Biomédica de Bellvitge (IDIBELL),Institut de Recerca Contra la Leucèmia Josep Carreras'],
      dtype=object)

In [8]:
df['ruct'].drop_duplicates().shape[0]

1126

In [10]:
df['ruct'].nunique()

1126

In [13]:
df['ruct'].unique()

array(['Universitat Internacional de Catalunya',
       "Institut Hospital del Mar d'Investigacions Mèdiques",
       'Universitat de Girona', ...,
       "Valle de Hebrón Instituto de Investigación (VHIR),Institut d'Investigació en Ciències de la Salut Germans Trias i Pujol,Universidad Pompeu Fabra",
       'Instituto de Investigación y Tecnología Agroalimentaria (IRTA),Centre de Ciència i Tecnologia Forestal de Catalunya,Instituto de Investigación del Hospital de la Santa Creu i Sant Pau',
       'Universidad de Barcelona,Instituto de Investigación Biomédica de Bellvitge (IDIBELL),Institut de Recerca Contra la Leucèmia Josep Carreras'],
      dtype=object)

In [14]:
# create a new dataframe with the unique values and their counts
df2 = pd.DataFrame({'uni': df['ruct'].unique(),
                    'researchers': [df[df['ruct']==v]['ruct'].count() for v in df['ruct'].unique()]})

df2.head()

                                                 uni  researchers
0             Universitat Internacional de Catalunya         3465
1  Institut Hospital del Mar d'Investigacions Mèd...         2562
2                              Universitat de Girona         5908
3  Universitat de Lleida,Universitat Politècnica ...            6
4               Universitat Politècnica de Catalunya        14486

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uni          1126 non-null   object
 1   researchers  1126 non-null   int64
dtypes: int64(1), object(1)
memory usage: 17.7+ KB

In [16]:
# define a function to get the coordinates for each institution
def get_coordinates(row):
    institution = row['uni']
    g = geocoder.arcgis(institution + ', Spain')
    return pd.Series({'Latitude': g.lat, 'Longitude': g.lng})

# apply the function to each row of the dataframe
df2[['Latitude', 'Longitude']] = df2.apply(get_coordinates, axis=1)
df2.head()

,uni,researchers,Latitude,Longitude
0,Universitat Internacional de Catalunya,3465,41.067750,1.091650
1,Institut Hospital del Mar d'Investigacions Mèd...,2562,43.400170,-4.008460
2,Universitat de Girona,5908,41.962081,2.832343
3,"Universitat de Lleida,Universitat Politècnica ...",6,41.388690,2.116030
4,Universitat Politècnica de Catalunya,14486,41.388690,2.116030

In [17]:
df2.to_csv(r'C:\WORK_IAAC\submissions\Internet of People\IoP_WIP\QGIS_data\uni.csv',index=False)

In [18]:
#read scraped file
dx = pd.read_csv(r'C:\WORK_IAAC\submissions\Internet of People\IoP_WIP\QGIS_data\for_clusteranalysis\Projectes_de_recerca_de_Catalunya.csv')
dx.head()

C:\Users\rromu\AppData\Local\Temp\ipykernel_12740\2255675034.py:2: DtypeWarning: Columns (3,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  dx = pd.read_csv(r'C:\WORK_IAAC\submissions\Internet of People\IoP_WIP\QGIS_data\for_clusteranalysis\Projectes_de_recerca_de_Catalunya.csv')

,_id,officialCode,title,url,code,programme,startDate,endDate,principalResearchers,otherResearchers,uncheckedPrincipalInvestigator,uncheckedCoInvestigator,ruct,sourceid,timestamp,orcidPrincipalResearchers,orcidOtherResearchers,orcidUncheckedPrincipalInvestigator,orcidUncheckedCoInvestigator
0,044-UDL-PJ000271,ALI96-0567,(un) - Mejora de la calidad de la fruta de pep...,http://webgrec.udl.cat/cgi-bin/3DADREC/critem....,271,Convocatòria en el marc del Pla Nacional d'Inv...,01/07/1996,30/06/1999,"Viñas Almenar, M. Inmaculada C.","Fons Sole, Estanislau",NaN,NaN,Universidad de Lleida,044-UDL-PJ000271,16/06/2021,NaN,NaN,NaN,NaN
1,022-8c66acb8-dc1c-4548-957f-c400dc16db11,PNL2005-34,(es) - Anàlisi d'elements traça per a la recon...,NaN,46996168,Programes UAB,28/05/2005,28/05/2007,"Mortyn, Peter Graham","Pelachs Mañosa, Albert",NaN,"Molina Gallart, David",Universidad Autónoma de Barcelona,022-8c66acb8-dc1c-4548-957f-c400dc16db11,16/06/2021,NaN,NaN,NaN,NaN
2,004-UB-PE002530,765297,(un) - Network of Functional Molecular Contain...,https://webgrec.ub.edu/cgi-bin/3DADREC/critem....,2530,HORIZON 2020 (2014-2020). P1. MARIE SKŁODOWSKA...,06/05/2019,31/03/2022,"Barril Alonso, Xavier",NaN,NaN,"Serillon, Dylan Leo",Universidad de Barcelona,004-UB-PE002530,16/06/2021,NaN,NaN,NaN,NaN
3,044-UDL-PJ001278,NaN,(un) - Noves Tecnologies per a nous reptes en ...,http://webgrec.udl.cat/cgi-bin/3DADREC/critem....,1278,Convocatòria d'ajuts per a projectes d'innovac...,01/09/2004,30/06/2005,"Sole Castells, Cristina","Figuerola Cabrol, Ma. Carmen",NaN,"Parra Alba, Montserrat",Universidad de Lleida,044-UDL-PJ001278,16/06/2021,NaN,NaN,NaN,NaN
4,042-URV-P17131,2017PFR-URV-B2-64,(un) - Research on Language and Linguistics Ac...,NaN,17131,Programa de foment de l'activitat de la recerc...,01/01/2018,30/09/2021,"Oltra Massuet, Maria Isabel","Riutort Riutort, Macià;Ginebra Serrabou, Jordi",NaN,NaN,Universidad Rovira i Virgili,042-URV-P17131,16/06/2021,NaN,NaN,NaN,NaN

In [19]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274459 entries, 0 to 274458
Data columns (total 19 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   _id                                  274459 non-null  object
 1   officialCode                         219945 non-null  object
 2   title                                274455 non-null  object
 3   url                                  73830 non-null   object
 4   code                                 274455 non-null  object
 5   programme                            147858 non-null  object
 6   startDate                            273839 non-null  object
 7   endDate                              267609 non-null  object
 8   principalResearchers                 197075 non-null  object
 9   otherResearchers                     186781 non-null  object
 10  uncheckedPrincipalInvestigator       45418 non-null   object
 11  uncheckedCoInvestigator              59133 non-null   object
 12  ruct                                 274454 non-null  object
 13  sourceid                             274454 non-null  object
 14  timestamp                            274454 non-null  object
 15  orcidPrincipalResearchers            40047 non-null   object
 16  orcidOtherResearchers                37245 non-null   object
 17  orcidUncheckedPrincipalInvestigator  10 non-null      object
 18  orcidUncheckedCoInvestigator         170 non-null     object
dtypes: object(19)
memory usage: 39.8+ MB

In [20]:
dx = dx.iloc[:, :14]
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274459 entries, 0 to 274458
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   _id                             274459 non-null  object
 1   officialCode                    219945 non-null  object
 2   title                           274455 non-null  object
 3   url                             73830 non-null   object
 4   code                            274455 non-null  object
 5   programme                       147858 non-null  object
 6   startDate                       273839 non-null  object
 7   endDate                         267609 non-null  object
 8   principalResearchers            197075 non-null  object
 9   otherResearchers                186781 non-null  object
 10  uncheckedPrincipalInvestigator  45418 non-null   object
 11  uncheckedCoInvestigator         59133 non-null   object
 12  ruct                            274454 non-null  object
 13  sourceid                        274454 non-null  object
dtypes: object(14)
memory usage: 29.3+ MB

In [21]:
dx = dx.drop(dx.columns[[0, 1, 2, 3, 4, 10, 11, 13]], axis=1)
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274459 entries, 0 to 274458
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   programme             147858 non-null  object
 1   startDate             273839 non-null  object
 2   endDate               267609 non-null  object
 3   principalResearchers  197075 non-null  object
 4   otherResearchers      186781 non-null  object
 5   ruct                  274454 non-null  object
dtypes: object(6)
memory usage: 12.6+ MB

In [23]:
dx['startDate'] = pd.to_datetime(dx['startDate'], format='%d/%m/%Y')

In [24]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274459 entries, 0 to 274458
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   programme             147858 non-null  object
 1   startDate             273839 non-null  datetime64[ns]
 2   endDate               267609 non-null  object
 3   principalResearchers  197075 non-null  object
 4   otherResearchers      186781 non-null  object
 5   ruct                  274454 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 12.6+ MB

In [25]:
#extact research project for last 10 years
dxf = dx[dx['startDate'] > '01/01/2012']

In [27]:
dxf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105399 entries, 2 to 274453
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   programme             67434 non-null   object
 1   startDate             105399 non-null  datetime64[ns]
 2   endDate               103906 non-null  object
 3   principalResearchers  90124 non-null   object
 4   otherResearchers      65998 non-null   object
 5   ruct                  105399 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 5.6+ MB

In [29]:
# create a new dataframe with the unique values and their counts
df3 = pd.DataFrame({'uni': dxf['ruct'].unique(),
                    'projects': [dxf[dxf['ruct']==v]['ruct'].count() for v in dxf['ruct'].unique()]})

df3.head()

                               uni  projects
0         Universidad de Barcelona      9756
1     Universidad Rovira i Virgili      7000
2  Universitat Oberta de Catalunya      3675
3            Universidad de Girona      3485
4         Universidad Pompeu Fabra      6926

In [30]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   uni       235 non-null    object
 1   projects  235 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.8+ KB

In [31]:
dff = pd.merge(df2, df3, on='uni')
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176 entries, 0 to 175
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uni          176 non-null    object
 1   researchers  176 non-null    int64
 2   Latitude     174 non-null    float64
 3   Longitude    174 non-null    float64
 4   projects     176 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 8.2+ KB

In [32]:
dff.head()

,uni,researchers,Latitude,Longitude,projects
0,Universitat Internacional de Catalunya,3465,41.067750,1.091650,2301
1,Institut Hospital del Mar d'Investigacions Mèd...,2562,43.400170,-4.008460,1254
2,Universitat de Girona,5908,41.962081,2.832343,2079
3,"Universitat de Lleida,Universitat Politècnica ...",6,41.388690,2.116030,10
4,Universitat Politècnica de Catalunya,14486,41.388690,2.116030,6764

In [33]:
dff.to_csv(r'C:\WORK_IAAC\submissions\Internet of People\IoP_WIP\QGIS_data\uni.csv',index=False)