In [2]:
import pandas as pd
import plotly.express as px
import folium

In [3]:
df2 = pd.read_csv('economic_activities_merged_codes.csv')

C:\Users\rubyc\AppData\Local\Temp\ipykernel_24856\3962380490.py:1: DtypeWarning: Columns (135,137,139,141,142) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('economic_activities_merged_codes.csv')

In [4]:
df_start = pd.read_csv('cti_robot.csv')

In [5]:
df_start.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          259 non-null    object
 1   brief         259 non-null    object
 2   branch        259 non-null    object
 3   address       259 non-null    object
 4   tel           241 non-null    float64
 5   web           254 non-null    object
 6   profile       259 non-null    object
 7   tech          259 non-null    object
 8   ducts         259 non-null    object
 9   apps          257 non-null    object
 10  cnae          259 non-null    object
 11  est           259 non-null    object
 12  turn          97 non-null     object
 13  emp           98 non-null     object
 14  info_added    259 non-null    object
 15  municipality  259 non-null    object
 16  post          259 non-null    int64
dtypes: float64(1), int64(1), object(15)
memory usage: 34.5+ KB

In [6]:
df_start['name']=df_start['name']. apply(str. upper)

In [7]:
df2['ADN_RZS'].head(15)

0                          INVESTMENT FLAT CAPITAL S.L.
1     DRAGADOS OBRAS Y PROYECTOS SA NECSO ENTRECANAL...
2                                                   NaN
3                               GRUPO XARELO GREEN S.L.
4                                   DEXZ YUANLAOSI S.L.
5                                                   NaN
6          ASSOCIACIO DE BOTIGUERS DE MARAGALL TRINXANT
7                                        JAMALI 11 S.L.
8                                 EPHYMER CLINIC S.L.P.
9                                CQ SWEET SURPRISE S.L.
10                                 GROUP CITY 2021 S.L.
11                                SUN FLOWER NAILS S.L.
12                                    KOMOMBO TECH S.L.
13                               MUNTANE FERRETERO S.L.
14                                GADLIS BARCELONA S.L.
Name: ADN_RZS, dtype: object

In [8]:
df_start['name'].head(20)

0     DISSENY DE SOFTWARE EMPOTRAT PER TELEGESTIO SL
1                                         EDUKEM-NOS
2                      AMES BARCELONA SINTERING S.A.
3                                VIASTORE SYSTEMS SA
4                                       BROQUETAS SL
5                                    PAL ROBOTICS SL
6                                           LEARNICK
7                             INFRAPLAN BARCELONA SL
8                                      AIRA ROBÒTICA
9                                              SITEP
10                              EUREK TECHNOLOGY SL.
11       INDUSTRIAS DE ESTAMPACION DEL CORTE FINO SL
12                                          NIUEDUCA
13                                       POLTANK SAU
14                   HOLZMA PLATTENAUFTEILTECHNIK SA
15                       DYNAMIND (MENTS DINÀMIQUES)
16                                 MECANICAS DRAGUER
17                             SOCIEDAD ANONIMA DAMM
18                                     DIGIPROCES SA
19                                        SOFTVIC SA
Name: name, dtype: object

In [12]:
df_name = pd.merge(df2, df_start, how = 'inner', left_on = 'ADN_RZS', right_on = 'name', indicator=True)
df_name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 171
Columns: 161 entries, Unnamed: 0 to _merge
dtypes: category(1), float64(60), int64(35), object(65)
memory usage: 216.6+ KB

In [23]:
unmerged_df = df_name[df_name['_merge'] == 'right_only']
unmerged_df['name']

0      DISSENY DE SOFTWARE EMPOTRAT PER TELEGESTIO SL
1                                          EDUKEM-NOS
8                                            LEARNICK
10                                      AIRA ROBÒTICA
11                                              SITEP
                            ...
312                    BEDDING INDUSTRIAL BEGUDA S.L.
313         TECNICAL CENTRE TECNOLOGIC DE L'ANOIA, SA
314                          LABORATORIOS ENTEMA, SLU
315                                   INNOVA DIDACTIC
316                        VOLTEC ELECTRO SISTEMES SL
Name: name, Length: 145, dtype: object

In [25]:
unmerged_df.to_excel('unmerged_robot.xlsx')

In [6]:
df_name[['cnae','ADN_RZS','SECTOR_CNAE','ADN_SECTOR_SEC_N_COD']].head(10)

,cnae,ADN_RZS,SECTOR_CNAE,ADN_SECTOR_SEC_N_COD
0,2931 - Manufacture of electrical and electroni...,DENSO BARCELONA SA,2931 - Fabr. de equipos eléctricos y electróni...,"2932,8299"
1,2562 - Machining,INDUSTRIES RAVENTOS SA,2562 - Ingeniería mecánica por cuenta de terceros,6820
2,2899 - Manufacture of other special-purpose ma...,EUREK TECHNOLOGY SL.,3030 - Construcción aeronáutica y espacial y s...,7112
3,2899 - Manufacture of other special-purpose ma...,EUREK TECHNOLOGY SL.,3030 - Construcción aeronáutica y espacial y s...,7112
4,2849 - Manufacture of other machine tools,INTOREX SA,2849 - Fabr. de otras máquinas herramienta,NaN
5,4690 - Non-specialised wholesale trade/4669 - ...,AL TOP TOPOGRAFIA SA,4669 - Otra maquinaria y equipo,NaN
6,1102 - Manufacture of wine from grape,MASIA VALLFORMOSA SL,1102 - Elaboración de vinos,"5610,6820"
7,1102 - Manufacture of wine from grape,MASIA VALLFORMOSA SL,1102 - Elaboración de vinos,"5610,6820"
8,2611 - Manufacture of electronic components/71...,WETRON AUTOMATIZACION SA,2829 - Fabr. de otra maquinaria de uso general...,6202
9,2611 - Manufacture of electronic components/71...,WETRON AUTOMATIZACION SA,2829 - Fabr. de otra maquinaria de uso general...,6202

In [ ]:
def normalize_name(name):
    # remove punctuation and convert to lowercase
    name = name.replace(',', '').replace('.', '').replace(' SL', '').replace(' corp', '').replace(' llc', '').replace(' inc', '').replace(' co', '')
    # split into words and sort them alphabetically
    words = sorted(name.split())
    # join the words back together into a single string
    return ' '.join(words)

# add normalized name columns to both dataframes
df1['normalized_name'] = df1['company_name'].apply(normalize_name)
df2['normalized_name'] = df2['company_name'].apply(normalize_name)

In [10]:
df_iot = pd.read_csv('cti_iotsensor.csv')

In [16]:
df_iot['name']=df_iot['name']. apply(str. upper)
df_iot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          299 non-null    object
 1   brief         299 non-null    object
 2   branch        299 non-null    object
 3   address       299 non-null    object
 4   tel           281 non-null    float64
 5   web           298 non-null    object
 6   profile       299 non-null    object
 7   tech          299 non-null    object
 8   ducts         299 non-null    object
 9   apps          296 non-null    object
 10  cnae          299 non-null    object
 11  est           299 non-null    object
 12  turn          84 non-null     object
 13  emp           87 non-null     object
 14  info_added    299 non-null    object
 15  municipality  299 non-null    object
 16  post          299 non-null    int64
dtypes: float64(1), int64(1), object(15)
memory usage: 39.8+ KB

In [17]:
df_name_2 = pd.merge(df2, df_iot, how = 'inner', left_on = 'ADN_RZS', right_on = 'name', indicator=True)
df_name_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 0 to 156
Columns: 161 entries, Unnamed: 0 to _merge
dtypes: category(1), float64(60), int64(35), object(65)
memory usage: 197.8+ KB

In [18]:
df_cir = pd.read_csv('cti_circular.csv')
df_cir['name']=df_cir['name']. apply(str. upper)

In [20]:
df_cir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          14 non-null     object
 1   brief         14 non-null     object
 2   branch        14 non-null     object
 3   address       14 non-null     object
 4   tel           13 non-null     float64
 5   web           14 non-null     object
 6   profile       14 non-null     object
 7   tech          14 non-null     object
 8   ducts         14 non-null     object
 9   apps          14 non-null     object
 10  municipality  14 non-null     object
 11  post          14 non-null     int64
dtypes: float64(1), int64(1), object(10)
memory usage: 1.4+ KB

In [19]:
df_name_3 = pd.merge(df2, df_cir, how = 'inner', left_on = 'ADN_RZS', right_on = 'name', indicator=True)
df_name_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Columns: 156 entries, Unnamed: 0 to _merge
dtypes: category(1), float64(60), int64(35), object(60)
memory usage: 25.7+ KB

In [24]:
df_name_3[['ADN_RZS','SECTOR_CNAE','ADN_SECTOR_SEC_N_COD', 'name','ADN_OID_CENTRO']]

,ADN_RZS,SECTOR_CNAE,ADN_SECTOR_SEC_N_COD,name,ADN_OID_CENTRO
0,VIELPA SA,2016 - Fabr. de plásticos en formas primarias,NaN,VIELPA SA,149261
1,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,14414284
2,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,14811547
3,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,14811548
4,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125588
5,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125584
6,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125581
7,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,11722263
8,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125586
9,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,12206526
10,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,76300
11,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125578
12,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125583
13,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125582
14,PROMOTORA MEDITERRANEA 2 SA,2363 - Fabr. de hormigón fresco,"0811,0812,2351,2361,2362,2370,3299,3519,3831,4...",PROMOTORA MEDITERRANEA 2 SA,10125589
15,IRIS TECHNOLOGY SOLUTIONS S.L.,7219 - Otra investigación y desarrollo experim...,NaN,IRIS TECHNOLOGY SOLUTIONS S.L.,7795915
16,ONYRIQ LABS SL.,7219 - Otra investigación y desarrollo experim...,"7112,7120",ONYRIQ LABS SL.,12631096
17,VOTTUN S.L.,6202 - Actividades de consultoría informática,8299,VOTTUN S.L.,13340680
18,EDENWAY SL,7022 - Otras actividades de consultoría de ges...,8299,EDENWAY SL,9821036
19,EDENWAY SL,7022 - Otras actividades de consultoría de ges...,8299,EDENWAY SL,12694384
20,EDENWAY SL,7022 - Otras actividades de consultoría de ges...,8299,EDENWAY SL,13714314

In [25]:
df_add = pd.read_csv('cti_addman.csv')
df_add['name']=df_add['name']. apply(str. upper)
df_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          210 non-null    object
 1   brief         210 non-null    object
 2   branch        210 non-null    object
 3   address       210 non-null    object
 4   tel           200 non-null    float64
 5   web           209 non-null    object
 6   profile       210 non-null    object
 7   tech          210 non-null    object
 8   ducts         210 non-null    object
 9   apps          210 non-null    object
 10  cnae          210 non-null    object
 11  est           210 non-null    object
 12  turn          114 non-null    object
 13  emp           115 non-null    object
 14  info_added    210 non-null    object
 15  municipality  210 non-null    object
 16  post          210 non-null    int64
dtypes: float64(1), int64(1), object(15)
memory usage: 28.0+ KB

In [26]:
df_name_4 = pd.merge(df2, df_add, how = 'inner', left_on = 'ADN_RZS', right_on = 'name', indicator=True)
df_name_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 116
Columns: 161 entries, Unnamed: 0 to _merge
dtypes: category(1), float64(60), int64(35), object(65)
memory usage: 147.4+ KB

In [27]:
df_ad = pd.concat([df_name, df_name_2, df_name_3, df_name_4])

In [28]:
df_ad.to_csv('scraped_advanced_industry.csv')